@tailwind base;
@tailwind components;
@tailwind utilities;
/* Define the marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Apply the animation to an element */
.marquee-element {
  animation: marquee 25s linear infinite;
}

/* Pause the animation on hover */
.marquee-element:hover {
  animation-play-state: paused;
}

/* Apply the animation for left to right */
.marquee-element-1 {
  animation: marquee2 25s linear infinite;
}

/* Pause the animation for left to right on hover */
.marquee-element-1:hover {
  animation-play-state: paused;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
